body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:47px;
  width:338px;
  height:138px;
  font-size:28px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:334px;
  word-wrap:break-word;
}
