body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:185px;
  width:161px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:239px;
  width:407px;
  height:93px;
  font-size:16px;
  text-align:center;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:407px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:84px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:84px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:110px;
  width:503px;
  height:46px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:499px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:530px;
  width:378px;
  height:93px;
  font-size:16px;
  text-align:center;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:378px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:61px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:623px;
  width:234px;
  height:61px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:230px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:695px;
  width:378px;
  height:93px;
  font-size:14px;
  text-align:center;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:378px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:161px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:800px;
  width:866px;
  height:161px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:92px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:833px;
  width:350px;
  height:92px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:398px;
  width:452px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:434px;
  word-wrap:break-word;
}
#u14_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:478px;
  width:362px;
  height:21px;
  font-size:18px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u15_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:506px;
  width:362px;
  height:21px;
  font-size:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u16_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:403px;
  width:8px;
  height:8px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:3px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:407px;
  width:39px;
  height:3px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:367px;
  width:266px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:441px;
  width:148px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
