body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:465px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:43px;
  width:561px;
  height:465px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:557px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:94px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:335px;
  width:287px;
  height:94px;
  font-size:28px;
  color:#FFFFFF;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:283px;
  word-wrap:break-word;
}
