body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:481px;
  width:384px;
  height:494px;
  font-size:16px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:344px;
  word-wrap:break-word;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:481px;
  width:350px;
  height:494px;
  font-size:16px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:346px;
  word-wrap:break-word;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:297px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:181px;
  word-wrap:break-word;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:298px;
  width:198px;
  height:81px;
  text-align:center;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:34px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:165px;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:163px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:579px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:706px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:116px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:96px;
  width:180px;
  height:116px;
  font-size:16px;
  text-align:center;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:160px;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:830px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:565px;
  width:198px;
  height:78px;
  text-align:center;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:698px;
  width:198px;
  height:78px;
  text-align:center;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:178px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1098px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:581px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:708px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:832px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:573px;
  width:198px;
  height:78px;
  text-align:center;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:321px;
  width:35px;
  height:35px;
  color:#FFFF00;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:594px;
  width:35px;
  height:35px;
  color:#FFFF00;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:592px;
  width:37px;
  height:37px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:719px;
  width:37px;
  height:37px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:708px;
  width:198px;
  height:78px;
  text-align:center;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:178px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:730px;
  width:35px;
  height:35px;
  color:#FFFF00;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:836px;
  width:198px;
  height:78px;
  text-align:center;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:178px;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:858px;
  width:35px;
  height:35px;
  color:#FFFF00;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:123px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u437_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u437_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:252px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u438_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u438_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:386px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u439_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:67px;
}
#u439_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:60px;
  width:9px;
  height:8px;
}
#u439_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:60px;
  width:9px;
  height:8px;
}
#u439_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:60px;
  width:9px;
  height:8px;
}
#u439_seg5 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:60px;
  width:9px;
  height:8px;
}
#u439_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:60px;
  width:9px;
  height:8px;
}
#u439_seg7 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg8 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg9 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg10 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg11 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg12 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg13 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg14 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg15 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg16 {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg17 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg18 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg19 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg20 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg21 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg22 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg23 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg24 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:60px;
  width:18px;
  height:8px;
}
#u439_seg25 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:60px;
  width:217px;
  height:8px;
}
#u439_seg26 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:60px;
  width:8px;
  height:35px;
}
#u439_seg27 {
  border-width:0px;
  position:absolute;
  left:-404px;
  top:80px;
  width:20px;
  height:20px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:668px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u440_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u440_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:795px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u441_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:670px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u442_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u442_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:797px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u443_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u443_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:975px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u444_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u444_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:101px;
  width:404px;
  height:8px;
}
#u444_seg2 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:101px;
  width:8px;
  height:22px;
}
#u444_seg3 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:108px;
  width:20px;
  height:20px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:104px;
  top:97px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:975px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u445_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u445_seg1 {
  border-width:0px;
  position:absolute;
  left:-423px;
  top:101px;
  width:427px;
  height:8px;
}
#u445_seg2 {
  border-width:0px;
  position:absolute;
  left:-423px;
  top:101px;
  width:8px;
  height:22px;
}
#u445_seg3 {
  border-width:0px;
  position:absolute;
  left:-429px;
  top:108px;
  width:20px;
  height:20px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:97px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:481px;
  width:384px;
  height:494px;
  font-size:16px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:344px;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:581px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:708px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:832px;
  width:185px;
  height:89px;
  font-size:16px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:670px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u450_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u450_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:797px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:386px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u452_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u452_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:66px;
}
#u452_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:9px;
  height:8px;
}
#u452_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:59px;
  width:8px;
  height:36px;
}
#u452_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:80px;
  width:20px;
  height:20px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:386px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u453_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u453_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:66px;
}
#u453_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:23px;
  height:8px;
}
#u453_seg3 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:59px;
  width:414px;
  height:8px;
}
#u453_seg4 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:59px;
  width:8px;
  height:36px;
}
#u453_seg5 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:80px;
  width:20px;
  height:20px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:145px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:975px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u454_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u454_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:101px;
  width:9px;
  height:8px;
}
#u454_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:101px;
  width:8px;
  height:22px;
}
#u454_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:108px;
  width:20px;
  height:20px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
