td {
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  height: 80px;
  width: 80px;
  display: inline-block;
  line-height: 80px;
}

input {
  height: 30px;
  font-size: 18px;
}

.name {
  margin-bottom: 0;
}

#update-name {
  font-size: 18px;
  padding: 10px;
  width: 180px;
  margin-top: 30px;
}

table {
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  border-spacing:0;
  border-collapse: collapse;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#status-message {
  text-align: center;
  height: 50px;
  /* padding-top: 100px; */
  margin-bottom: 0;
  margin-top: 0;
}

#restart-div {
  text-align: center;
  height: 50px;
  margin-top: 20px;
}

#restart-game {
  font-size: 18px;
  padding: 10px;
  width: 180px;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.winning-position {
  background: black;
  color: white;
}