body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1080px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:99px;
  width:1000px;
  height:1080px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:148px;
  width:539px;
  height:41px;
  font-size:36px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  white-space:nowrap;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:47px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:998px;
  height:47px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:255px;
  height:36px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:225px;
  width:455px;
  height:263px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:31px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:60px;
  width:688px;
  height:31px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:217px;
  width:200px;
  height:1px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:250px;
  width:468px;
  height:214px;
  font-size:16px;
  text-align:center;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:115px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1475px;
  width:1000px;
  height:115px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:342px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1258px;
  width:756px;
  height:342px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:56px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:394px;
  width:200px;
  height:56px;
  color:#FFFFFF;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:67px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:581px;
  width:543px;
  height:67px;
  color:#FFFFFF;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:539px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:590px;
  width:49px;
  height:49px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C2002F;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:850px;
  width:543px;
  height:67px;
  font-size:16px;
  color:#C2002F;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:539px;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:677px;
  width:70px;
  height:60px;
  font-size:28px;
  color:#000000;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C2002F;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:927px;
  width:543px;
  height:67px;
  font-size:16px;
  color:#C2002F;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:539px;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C2002F;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1004px;
  width:543px;
  height:67px;
  font-size:16px;
  color:#C2002F;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:539px;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C2002F;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1081px;
  width:543px;
  height:67px;
  font-size:16px;
  color:#C2002F;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:539px;
  word-wrap:break-word;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:851px;
  width:559px;
  height:66px;
  opacity:0.5;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:771px;
  width:452px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
