body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:739px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:48px;
  width:363px;
  height:295px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:138px;
  width:343px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:157px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:172px;
  width:234px;
  height:157px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:68px;
  width:214px;
  word-wrap:break-word;
}
