body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1167px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:33px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:574px;
  height:33px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:110px;
  width:505px;
  height:283px;
  font-size:16px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:42px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:275px;
  height:42px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:75px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:438px;
  width:143px;
  height:75px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:287px;
  width:540px;
  height:226px;
  font-size:16px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:115px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  text-align:center;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:20px;
  width:180px;
  height:115px;
  font-size:18px;
  text-align:center;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:160px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  text-align:center;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:145px;
  width:267px;
  height:124px;
  font-size:18px;
  text-align:center;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:31px;
  width:247px;
  word-wrap:break-word;
}
