body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:70px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:70px;
  display:flex;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1000px;
  height:70px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:218px;
  width:430px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:261px;
  width:511px;
  height:51px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  font-size:14px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:174px;
  width:382px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  font-size:14px;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:718px;
  width:191px;
  height:61px;
  display:flex;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:684px;
  width:382px;
  height:34px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:338px;
  width:528px;
  height:32px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107 label {
  left:0px;
  width:100%;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:380px;
  width:207px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u107_img.selected {
}
#u107.selected {
}
#u107_img.disabled {
}
#u107.disabled {
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:191px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u108 label {
  left:0px;
  width:100%;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:416px;
  width:207px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u108_img.selected {
}
#u108.selected {
}
#u108_img.disabled {
}
#u108.disabled {
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:191px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u109 label {
  left:0px;
  width:100%;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:452px;
  width:207px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u109_img.selected {
}
#u109.selected {
}
#u109_img.disabled {
}
#u109.disabled {
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:191px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u110 label {
  left:0px;
  width:100%;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:488px;
  width:207px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u110_img.selected {
}
#u110.selected {
}
#u110_img.disabled {
}
#u110.disabled {
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:191px;
  word-wrap:break-word;
  text-transform:none;
}
#u110_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u111 label {
  left:0px;
  width:100%;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:524px;
  width:207px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u111_img.selected {
}
#u111.selected {
}
#u111_img.disabled {
}
#u111.disabled {
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:191px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:570px;
  width:345px;
  height:61px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
